    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background: orangered;
    }
    
    header {
        background-color: black;
        color: white;
        height: 80px;
        display: flex;
    }
    
    section {
        color: whitesmoke;
    }