    * {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    body {
        background: orangered;
    }
    section {
        color: whitesmoke;
    }